<div class="header">
  <span class="header-text">Folder Structure Maker</span>
</div>
<button class="add-folder-button" (click)="addFolderToRoot()">Add folder to root</button>

<div *ngIf="nodeModels && nodeModels.length > 0">
  <ng-container *ngFor="let node of nodeModels">
    <ng-container [ngSwitch]="node.type">
      <app-folder-node *ngSwitchCase="'folder'" [node]="node"></app-folder-node>
      <app-new-node *ngSwitchDefault [nodeModel]="node" [type]="'folder'"></app-new-node>
    </ng-container>
  </ng-container>
</div>
